@use "@/sass/abstracts/variables";


button{
  cursor: pointer;
  width: auto;
  padding: 1rem;
  text-align: center;
  color: var(--color-secundario-800);
  background-color: var(--color-primario-800);
  border: none;
  border-radius: 4px; ;
}

button:hover {
  color: var(--color-secundario-400);
  background-color: var(--color-primario-400);
}